<!DOCTYPE html>
<html style="line-height: 1.67;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: rgba(0,0,0,.75);font-size: 16px;font-family: Lato,Helvetica Neue,Helvetica,sans-serif;font-variant-ligatures: common-ligatures;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome file</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css">
</head>

<body class="stackedit" style="margin: 0;color: rgba(0,0,0,.75);font-size: 16px;font-family: Lato,Helvetica Neue,Helvetica,sans-serif;font-variant-ligatures: common-ligatures;line-height: 1.67;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
  <div class="stackedit__html" style="margin-bottom: 180px;margin-left: auto;margin-right: auto;padding-left: 30px;padding-right: 30px;max-width: 750px;">
    <h1 id="logokinlen-booking-confirmation" style="font-size: 2em;margin: 1.8em 0;line-height: 1.33;"><img src="https://bestthaifood.info/images/newLogo-h100px.png" alt="logo" style="border-style: none;max-width: 100%;"><br>
KinLen Booking confirmation</h1>
    <p style="margin: 1.2em 0;">We are pleased to inform that your <strong style="font-weight: bolder;">booking has been accepted</strong>. Please review the details of your booking.</p>
    <h2 id="booking-details" style="margin: 1.8em 0;line-height: 1.33;">Booking details</h2>

    <table style="background-color: transparent;border-collapse: collapse;border-spacing: 0;">
      <thead>
        <tr>
          <th style="border-right: 1px solid #dcdcdc;padding: 8px 12px;"></th>
          <th style="border-right: 0;padding: 8px 12px;"></th>
        </tr>
      </thead>
      <tbody>
				<tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Booking Reference:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$bookingReference</td>
        </tr>
				<tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Restaurant Name:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$restaurantName</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Your name:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$name</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Your email:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$email</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Adult Guests:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$adults</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Child Guest:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$children</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Booking Date:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$date</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Booking Time:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$time</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Comments:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$comments</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #dcdcdc;padding: 8px 12px;border-top: 1px solid #dcdcdc;"><strong style="font-weight: bolder;">Your assigned guide:</strong></td>
          <td style="border-right: 0;padding: 8px 12px;border-top: 1px solid #dcdcdc;">$guideName</td>
        </tr>
      </tbody>
    </table>
    <h2 id="important-notes" style="margin: 1.8em 0;line-height: 1.33;">Important notes</h2>
    <ul style="margin: 1.2em 0;">
      <li>A staff member will pick you up at the pickup point (see bellow)</li>
      <li>You should be at the pickup point <strong style="font-weight: bolder;">15 minutes before the scheduled time</strong></li>
      <li>Contact us at <a href="mailto:info@bestthaifood.info" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;">info@bestthaifood.info</a> if you have any question</li>
    </ul>
    <h2 id="pick-up-point" style="margin: 1.8em 0;line-height: 1.33;">Pick-up Point</h2>
    <p style="margin: 1.2em 0;"><a href="https://www.google.com/maps/place/Kinlen+Krung+Thon+Buri/@13.7212809,100.5021175,19z/data=!4m5!3m4!1s0x30e2994ee0bd4351:0x8834c07c1d9f9cd7!8m2!3d13.7212809!4d100.5026647" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;">KinLen Krung Thon Buri</a>
      <br> BTS Station S7
      <br> Silom Line
      <br> Exit no. 1</p>
    <p style="margin: 1.2em 0;">
      <a href="https://www.google.com/maps/place/Kinlen+Krung+Thon+Buri/@13.7212809,100.5021175,19z/data=!4m5!3m4!1s0x30e2994ee0bd4351:0x8834c07c1d9f9cd7!8m2!3d13.7212809!4d100.5026647" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;"><img src="https://bestthaifood.info/images/pickup-point-krung-thon-buri.png" alt="KinLen Krung Thon Buri Map" style="border-style: none;max-width: 100%;"></a>
    </p>
    <p style="margin: 1.2em 0;">One of our staff members will pick you up at the pickup point <em>15 minutes before the scheduled booking time</em>.</p>
    <blockquote style="margin: 1.2em 0;color: rgba(0,0,0,.5);padding-left: 1.5em;border-left: 5px solid rgba(0,0,0,.1);">
      <p style="margin: 1.2em 0;">Please, don’t be late. <strong style="font-weight: bolder;">No show bookings will be canceled without any refund</strong>.</p>
    </blockquote>
    <p style="margin: 1.2em 0;">If you have any comment or you need to contact us, send a message to <a href="mailto:info@bestthaifood.info" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;">info@bestthaifood.info</a></p>
    <p style="margin: 1.2em 0;">
      <a href="mailto:info@bestthaifood.info" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;"><img src="https://bestthaifood.info/images/mail@2x.png" alt="mail" style="border-style: none;max-width: 100%;"></a>
      <a href="https://twitter.com/kinlen_bkk" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;"><img src="https://bestthaifood.info/images/twitter@2x.png" alt="twitter" style="border-style: none;max-width: 100%;"></a>
      <a href="https://instagram.com/kinlen.bkk" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;"><img src="https://bestthaifood.info/images/instagram@2x.png" alt="instagram" style="border-style: none;max-width: 100%;"></a>
      <a href="https://facebook.com/kinlen.bkk" style="background-color: transparent;-webkit-text-decoration-skip: objects;color: #0c93e4;text-decoration: underline;text-decoration-skip: ink;"><img src="https://bestthaifood.info/images/facebook@2x.png" alt="facebook" style="border-style: none;max-width: 100%;"></a>
    </p>
    <p style="margin: 1.2em 0;">KinLen. 333 Krungthonburi Road, Klongtonsai, Klongsan, Bangkok, 10600. Thailand.
      <br> Tel. 0633953170</p>
  </div>
</body>

</html>
